<template>
  <v-dialog @click:outside="closeDialog" v-model="opened" :max-width="600">
    <v-card :loading="loading">
      <v-toolbar flat>
        <v-toolbar-title>Создание оборудования</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn @click="closeDialog" icon>
          <v-icon>mdi mdi-close</v-icon>
        </v-btn>
      </v-toolbar>
      <v-form v-model="valid">
        <v-card-text>
          <v-autocomplete v-model="form.section" :items="sections" item-text="name" item-value="id" required></v-autocomplete>
          <v-text-field v-model="form.name" :rules="nameRules" label="Название" required></v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn @click="createTitle" color="success" :disabled="!valid || loading">Создать</v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from "vue-property-decorator";
import { SectionInfo } from "@/models/api/section";
import { EquipmentCreate, EquipmentInfo } from '@/models/api/equipment';

@Component({})
export default class CreateEquipmentDialog extends Vue {
  @Prop({ type: Boolean })
  public opened: Boolean = false;

  @Prop()
  public sections!: SectionInfo[];

  public form: EquipmentCreate = { name: "", data: {}, section: 0 };

  private loading: boolean = false;

  private valid: boolean = false;
  private nameRules = [(v: string) => !!v || "Необходимо ввести название"];

  @Watch("opened")
  private onOpened(value: Boolean) {
    if (this.opened) {
    } else {
      this.form = { name: "", data: {}, section: 0 };
    }
  }

  closeDialog() {
    this.$emit("update:opened", false);
  }

  createTitle() {
    this.loading = true;
    this.$axios.post("/api/equipment", this.form).then(response => {
      this.$emit("created", this.form.section, response.data as EquipmentInfo);
      this.closeDialog();
      this.loading = false;
    });
  }
}
</script>