<template>
  <router-view></router-view>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Action, Getter } from "vuex-class";

@Component({})
export default class App extends Vue {
  @Action("updateState", { namespace: "auth" })
  update: any;

  @Getter("isAuth", { namespace: "auth" })
  private isAuth!: boolean;

  private userCheck!: any;

  private mounted() {
    this.userCheck = setInterval(() => {
      this.update();
      if (!this.isAuth && this.$router.currentRoute.name != "auth")
        this.$router.push({ name: "auth" });
    }, 15000);
  }

  private beforeDestroy() {
    clearInterval(this.userCheck);
  }
}
</script>
