<template>
  <v-card :loading="loading">
    <v-toolbar flat>
      <v-toolbar-title>Чек-листы</v-toolbar-title>
      <v-divider class="mx-4" inset vertical></v-divider>
      <v-spacer></v-spacer>
      <v-btn
        @click="createDialog = true"
        color="success"
        elevation="0"
        :disabled="loading"
      >Создать чек-лист</v-btn>
    </v-toolbar>
    <v-data-table class="table-tr-pointer" :headers="headers" :items="checkLists">
      <template v-slot:item.actions="{ item }">
        <v-icon class="mr-2" @click="editTitle(item)">mdi-pencil</v-icon>
        <!-- <v-icon @click="deleteTitle(item)">mdi-delete</v-icon> -->
      </template>
    </v-data-table>
    <c-create-dialog @created="titleCreated" :project-id="$route.params.projectId" :opened.sync="createDialog"></c-create-dialog>
    <c-edit-dialog @changed="titleChanged" :clist="editItem" :opened.sync="editDialog"></c-edit-dialog>
    <v-dialog v-model="deleteDialog" :max-width="600">
      <v-card>
        <v-card-title>Удаление чек-листа</v-card-title>
        <v-card-text>Вы действительно хотите удалить "{{editItem.name}}"?</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text @click="deleteDialog = false">Отмена</v-btn>
          <v-btn text @click="deleteConfirm" dark color="red">Удалить</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import axios from "axios";
import { CheckListInfo } from "@/models/api/checklist";
import { DataTableHeader } from "vuetify";
import CreateCheckListDialog from "@/components/settings/checklist/CreateCheckListDialog.vue";
import EditCheckListDialog from "@/components/settings/checklist/EditCheckListDialog.vue";

@Component({
  components: {
    "c-create-dialog": CreateCheckListDialog,
    "c-edit-dialog": EditCheckListDialog,
  },
})
export default class SettingsChecklists extends Vue {
  private loading: boolean = true;
  private checkLists: CheckListInfo[] = [];
  private headers: DataTableHeader[] = [
    {
      text: "Название",
      value: "name",
    },
    {
      text: "Действия",
      value: "actions",
      width: 120,
      sortable: false,
    },
  ];

  private createDialog: Boolean = false;
  private editDialog: Boolean = false;
  private deleteDialog: Boolean = false;
  private editItem: CheckListInfo = { id: 0, name: "", items: [] };
  private editIndex: number = -1;

  mounted() {
    axios
      .get("/api/checklist/project/" + this.$route.params.projectId + "?full=true")
      .then((response) => {
        this.checkLists = response.data as CheckListInfo[];
        this.loading = false;
      });
  }

  titleCreated(title: CheckListInfo) {
    this.checkLists.push(title);
  }

  editTitle(title: CheckListInfo) {
    this.editIndex = this.checkLists.indexOf(title);
    this.editItem = Object.assign({}, title);
    this.editDialog = true;
  }

  deleteTitle(title: CheckListInfo) {
    this.editIndex = this.checkLists.indexOf(title);
    this.editItem = Object.assign({}, title);
    this.deleteDialog = true;
  }

  deleteConfirm() {
    axios.delete(`/api/checklist/${this.editItem.id}`).then((response) => {
      this.checkLists.splice(this.editIndex, 1);
      this.deleteDialog = false;
    });
  }

  titleChanged(title: CheckListInfo) {
    Object.assign(this.checkLists[this.editIndex], title);
  }
}
</script>