<template>
  <v-card :loading="loading">
    <v-toolbar flat>
      <v-toolbar-title>Проект</v-toolbar-title>
      <v-divider class="mx-4" inset vertical></v-divider>
      <v-spacer></v-spacer>
      <!-- <v-btn @click="createDialog = true" color="success" elevation="0" :disabled="loading">
        Создать пользователя
        <v-icon class="ml-2">mdi mdi-account-plus</v-icon>
      </v-btn>-->
    </v-toolbar>
    <v-card-text>
      <v-text-field v-model="project.name" label="Название проекта"></v-text-field>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn @click="saveProject" color="success" elevation="0" :disabled="loading">Сохранить</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { ProjectInfo } from "@/models/api/project";

@Component({})
export default class SettingsUsers extends Vue {
  private loading: boolean = true;
  private project: ProjectInfo = { id: 0, name: "" };

  mounted() {
    this.$axios.get("/api/project/" + this.$route.params.projectId).then((response) => {
      this.project = response.data as ProjectInfo;
      this.loading = false;
    });
  }

  saveProject() {
    this.loading = true;
    this.$axios.put("/api/project", this.project).then((response) => {
      this.loading = false;
    });
    // this.editIndex = this.users.indexOf(user);
    // this.editItem = Object.assign({}, user);
    // this.editDialog = true;
  }
}
</script>