<template>
  <v-card :loading="loading">
    <v-toolbar flat>
      <v-toolbar-title>Разделы</v-toolbar-title>
      <v-divider class="mx-4" inset vertical></v-divider>
      <v-spacer></v-spacer>
      <v-btn
        @click="createDialog = true"
        color="success"
        elevation="0"
        :disabled="loading"
      >Создать раздел</v-btn>
    </v-toolbar>
    <v-data-table :headers="headers" :items="sections">
      <template v-slot:item.actions="{ item }">
        <v-icon class="mr-2" @click="editSection(item)">mdi-pencil</v-icon>
        <!-- <v-icon @click="deleteTitle(item)">mdi-delete</v-icon> -->
      </template>
    </v-data-table>
    <c-create-dialog @created="sectionCreated" :project-id="$route.params.projectId" :opened.sync="createDialog"></c-create-dialog>
    <c-edit-dialog @created="sectionChanged" :section="editItem" :opened.sync="editDialog"></c-edit-dialog>
    <!-- <c-edit-dialog @changed="titleChanged" :title="editItem" :opened.sync="editDialog"></c-edit-dialog> -->
    <!-- <v-dialog v-model="deleteDialog" :max-width="600">
      <v-card>
        <v-card-title>Удаление титула</v-card-title>
        <v-card-text>Вы действительно хотите удалить "{{editItem.name}}"?</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text @click="deleteDialog = false">Отмена</v-btn>
          <v-btn text @click="deleteConfirm" dark color="red">Удалить</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog> -->
  </v-card>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { SectionInfo } from "@/models/api/section";
import { DataTableHeader } from "vuetify";
import CreateSectionDialog from '@/components/settings/section/CreateSectionDialog.vue';
import EditSectionDialog from '@/components/settings/section/EditSectionDialog.vue';

@Component({
  components: {
    "c-create-dialog": CreateSectionDialog,
    "c-edit-dialog": EditSectionDialog
  }
})
export default class SettingsSections extends Vue {
  private loading: boolean = true;
  private sections: SectionInfo[] = [];
  private headers: DataTableHeader[] = [
    {
      text: "Название",
      value: "name"
    },
    {
      text: "Действия",
      value: "actions",
      width: 120,
      sortable: false
    }
  ];

  private createDialog: Boolean = false;
  private editDialog: Boolean = false;
  private deleteDialog: Boolean = false;
  private editItem: SectionInfo = { id: 0, name: "", equipment: [] };
  private editIndex: number = -1;

  mounted() {
    this.$axios.get("/api/section/project/" + this.$route.params.projectId).then(response => {
      this.sections = response.data as SectionInfo[];
      this.loading = false;
    });
  }

  sectionCreated(section: SectionInfo) {
    this.sections.push(section);
  }

  editSection(section: SectionInfo) {
    this.editIndex = this.sections.indexOf(section);
    this.editItem = Object.assign({}, section);
    this.editDialog = true;
  }

  deleteSection(title: SectionInfo) {
    this.editIndex = this.sections.indexOf(title);
    //this.editItem = Object.assign({}, title);
    this.deleteDialog = true;
  }

  deleteConfirm() {
    // this.$axios.delete(`/api/title/${this.editItem.id}`).then(response => {
    //   this.sections.splice(this.editIndex, 1);
    //   this.deleteDialog = false;
    // });
  }

  sectionChanged(section: SectionInfo) {
    Object.assign(this.sections[this.editIndex], section);
  }
}
</script>