<template>
  <v-card :loading="loading">
    <v-toolbar flat>
      <v-toolbar-title>Титулы</v-toolbar-title>
      <v-divider class="mx-4" inset vertical></v-divider>
      <v-spacer></v-spacer>
      <v-btn
        @click="createDialog = true"
        color="success"
        elevation="0"
        :disabled="loading"
      >Создать титул</v-btn>
    </v-toolbar>
    <v-data-table :headers="headers" :items="titles">
      <template v-slot:item.actions="{ item }">
        <v-icon class="mr-2" @click="editTitle(item)">mdi-pencil</v-icon>
        <!-- <v-icon @click="deleteTitle(item)">mdi-delete</v-icon> -->
      </template>
    </v-data-table>
    <c-create-dialog @created="titleCreated" :project-id="$route.params.projectId" :opened.sync="createDialog"></c-create-dialog>
    <c-edit-dialog @changed="titleChanged" :title="editItem" :opened.sync="editDialog"></c-edit-dialog>
    <v-dialog v-model="deleteDialog" :max-width="600">
      <v-card>
        <v-card-title>Удаление титула</v-card-title>
        <v-card-text>Вы действительно хотите удалить "{{editItem.name}}"?</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text @click="deleteDialog = false">Отмена</v-btn>
          <v-btn text @click="deleteConfirm" dark color="red">Удалить</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { TitleInfo } from "@/models/api/title";
import { DataTableHeader } from "vuetify";
import CreateTitleDialog from "@/components/settings/title/CreateTitleDialog.vue";
import EditTitleDialog from "@/components/settings/title/EditTitleDialog.vue";

@Component({
  components: {
    "c-create-dialog": CreateTitleDialog,
    "c-edit-dialog": EditTitleDialog
  }
})
export default class SettingsTitles extends Vue {
  private loading: boolean = true;
  private titles: TitleInfo[] = [];
  private headers: DataTableHeader[] = [
    {
      text: "Название",
      value: "name"
    },
    {
      text: "Описание",
      value: "desc"
    },
    {
      text: "Действия",
      value: "actions",
      width: 120,
      sortable: false
    }
  ];

  private createDialog: Boolean = false;
  private editDialog: Boolean = false;
  private deleteDialog: Boolean = false;
  private editItem: TitleInfo = { id: 0, name: "", desc: "" };
  private editIndex: number = -1;

  mounted() {
    this.$axios.get("/api/title/project/" + this.$route.params.projectId).then(response => {
      this.titles = response.data as TitleInfo[];
      this.loading = false;
    });
  }

  titleCreated(title: TitleInfo) {
    this.titles.push(title);
  }

  editTitle(title: TitleInfo) {
    this.editIndex = this.titles.indexOf(title);
    this.editItem = Object.assign({}, title);
    this.editDialog = true;
  }

  deleteTitle(title: TitleInfo) {
    this.editIndex = this.titles.indexOf(title);
    this.editItem = Object.assign({}, title);
    this.deleteDialog = true;
  }

  deleteConfirm() {
    this.$axios.delete(`/api/title/${this.editItem.id}`).then(response => {
      this.titles.splice(this.editIndex, 1);
      this.deleteDialog = false;
    });
  }

  titleChanged(title: TitleInfo) {
    Object.assign(this.titles[this.editIndex], title);
  }
}
</script>