<template>
  <v-card :loading="loading">
    <v-toolbar flat>
      <v-toolbar-title>Пользователи</v-toolbar-title>
      <v-divider class="mx-4" inset vertical></v-divider>
      <v-spacer></v-spacer>
      <v-btn @click="createDialog = true" color="success" elevation="0" :disabled="loading">
        Создать пользователя
        <v-icon class="ml-2">mdi mdi-account-plus</v-icon>
      </v-btn>
    </v-toolbar>
    <v-data-table :headers="headers" :items="users">
      <template v-slot:item.name="{ item }">
        {{item.lastName}} {{item.firstName}} {{item.midName}}
      </template>
      <template v-slot:item.actions="{ item }">
        <v-icon class="mr-2" @click="editUser(item)">mdi-pencil</v-icon>
        <!-- <v-icon @click="deleteItem(item)">mdi-delete</v-icon> -->
      </template>
    </v-data-table>
    <c-create-dialog @created="userCreated" :opened.sync="createDialog"></c-create-dialog>
    <c-edit-dialog @changed="userChanged" :user="editItem" :opened.sync="editDialog"></c-edit-dialog>
  </v-card>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { UserInfo } from "@/models/api/user";
import { DataTableHeader } from "vuetify";
import CreateUserDialog from "@/components/settings/user/CreateUserDialog.vue";
import EditUserDialog from "@/components/settings/user/EditUserDialog.vue";

@Component({
  components: {
    "c-create-dialog": CreateUserDialog,
    "c-edit-dialog": EditUserDialog
  }
})
export default class SettingsUsers extends Vue {
  private loading: boolean = true;
  private users: UserInfo[] = [];
  private headers: DataTableHeader[] = [
    {
      text: "Логин",
      value: "login"
    },
    {
      text: "Имя",
      value: "name"
    },
    {
      text: "Отдел",
      value: "department"
    },
    {
      text: "Email",
      value: "email"
    },
    {
      text: "Действия",
      value: "actions",
      width: 120,
      sortable: false
    }
  ];

  private createDialog: Boolean = false;
  private editDialog: Boolean = false;
  private editItem: UserInfo = {id:"", firstName: "", lastName: "", email: "", login: ""};
  private editIndex: number = -1;

  mounted() {
    this.$axios.get("/api/user").then(response => {
      this.users = response.data as UserInfo[];
      this.loading = false;
    });
  }

  userCreated(user: UserInfo) {
    this.users.push(user);
  }

  editUser(user: UserInfo){
    this.editIndex = this.users.indexOf(user);
    this.editItem = Object.assign({}, user);
    this.editDialog = true;
  }

  userChanged(user: UserInfo) {
    Object.assign(this.users[this.editIndex], user);
  }
}
</script>