<template>
  <v-app>
    <v-container fluid class="fill-height auth-bg">
      <v-row align="center" justify="center">
        <v-col class="mx-auto" style="max-width: 500px">
          <v-card class="elevation-20" :loading="loading">
            <v-card-title>Вход</v-card-title>
            <v-card-text>
              <v-form :disabled="loading">
                <v-text-field
                  class="mb-2"
                  v-model="login"
                  name="login"
                  hide-details
                  @keydown.enter="auth"
                  :error="passwordError != null"
                  outlined
                  label="Логин"
                ></v-text-field>
                <v-text-field
                  v-model="password"
                  name="password"
                  outlined
                  label="Пароль"
                  :type="showPassword ? 'text' : 'password'"
                  :append-icon="showPassword ? 'mdi-eye-off-outline' : 'mdi-eye-outline'"
                  @click:append="showPassword = !showPassword"
                  @keydown.enter="auth"
                  :error="passwordError != null"
                  :error-messages="passwordError"
                ></v-text-field>
                <v-btn @click="auth" :disabled="loading" block color="success">Вход</v-btn>
              </v-form>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-app>
</template>

<style lang="scss">
.auth-bg {
  // background: url("../assets/bg/pieter-de-malsche-eH0TMc5uz_k-unsplash.jpg");
}
</style>

<script lang="ts">
import { Mutation, Action } from "vuex-class";
import { Component, Vue } from "vue-property-decorator";
import axios from "axios";

@Component({})
export default class Root extends Vue {
  @Action("login", { namespace: "auth" }) loginAction: any;
  @Action("logout", { namespace: "auth" }) logoutAction: any;

  private title: string = "Tonakai";
  private showPassword: boolean = false;
  private loading: boolean = false;

  private passwordError: string | null = null;
  private loginTo: string = "/";

  private login: string = "";
  private password: string = "";

  private mounted() {
    if (this.$route.query["a"] == "logout") {
      this.logoutAction();
    }
    if (this.$route.query["to"]) {
      this.loginTo = this.$route.query["to"] as string;
    }
  }

  private auth() {
    this.loading = true;
    axios
      .post("/api/auth/login", {
        login: this.login,
        password: this.password,
      })
      .then((value) => {
        this.loading = false;
        this.passwordError = null;
        //this.setToken(value.data.value);
        this.loginAction(value.data);
        this.$router.push({ path: this.loginTo });
      })
      .catch((reason) => {
        this.loading = false;
        console.log(reason);
        this.passwordError = "Неправильный логин или пароль";
      });
  }
}
</script>
