<template>
  <v-container>
    <h1>Список изменений</h1>
    <v-card>
      <v-card-title>29.07.2020</v-card-title>
      <v-card-text>
        <ul>
          <li>Изменен дизайн комментариев</li>
          <li>Добавлена возможность прикреплять файлы к комментарию</li>
          <li>Добавлена возможность прикреплять любые файлы к замечанию</li>
          <li>Добавлена возможность вставки изображений из буфера обмена</li>
        </ul>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({});
</script>