<template>
  <v-container fluid>
    <v-row>
      <v-col cols="3">
        <v-card>
          <v-card-title>Настройки проекта</v-card-title>
          <v-list>
            <v-list-item
              value="true"
              v-for="(item, i) in items"
              :key="i"
              :to="`/project/${$route.params.projectId}${item.link}`"              
              color="primary"
            >
              <v-list-item-action>
                <v-icon v-html="item.icon"></v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title v-text="item.title"></v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-card>
      </v-col>
      <v-col cols="9">
        <router-view></router-view>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({})
export default class Settings extends Vue {
  private items = [
    { title: "Проект", icon: "mdi-view-dashboard", link: "/settings/project" },
    { title: "Титулы", icon: "mdi-format-list-bulleted-type", link: "/settings/titles" },
    { title: "Разделы", icon: "mdi-view-agenda", link: "/settings/sections" },
    // { title: "Оборудование", icon: "mdi-fan", link: "/settings/equipment" },
    { title: "Чек-листы", icon: "mdi-format-list-checks", link: "/settings/checklists" },
    { title: "Отчеты", icon: "mdi-file-multiple", link: "/settings/reports" },
  ];
}
</script>