<template>
  <v-app>
    <v-navigation-drawer
      dark
      color="grey darken-4"
      :mini-variant="miniVariant"
      :clipped="clipped"
      v-model="drawer"
      fixed
      app
    >
      <v-list>
        <v-list-item two-line :class="miniVariant && 'px-2'">
          <v-list-item-avatar class="white--text" :color="UserColor(userLogin)">{{userName | avaname}}</v-list-item-avatar>

          <v-list-item-content>
            <v-list-item-title>{{userName}}</v-list-item-title>
            <v-list-item-subtitle>{{userLogin}}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-divider></v-divider>
        <v-list-item :to="'/'">
          <v-list-item-icon>
            <v-icon>mdi mdi-view-dashboard</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Проекты</v-list-item-title>
        </v-list-item>
      </v-list>
      <template v-slot:append>
        <v-list class="pb-0">
          <v-list-item :to="'/settings'">
            <v-list-item-icon>
              <v-icon>mdi mdi-cog</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Настройки</v-list-item-title>
          </v-list-item>
          <v-list-item @click="logout">
            <v-list-item-icon>
              <v-icon>mdi mdi-logout-variant</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Выход</v-list-item-title>
          </v-list-item>
        </v-list>
      </template>
    </v-navigation-drawer>

    <v-app-bar app :clipped-left="clipped">
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <!-- <v-btn class="d-none d-lg-flex" icon @click.stop="miniVariant = !miniVariant">
        <v-icon v-html="miniVariant ? 'chevron_right' : 'chevron_left'"></v-icon>
      </v-btn> -->
      <!-- <v-btn class="d-none d-lg-flex" icon @click.stop="clipped = !clipped">
        <v-icon>web</v-icon>
      </v-btn> -->
      <v-toolbar-title v-text="title"></v-toolbar-title>
      <v-spacer></v-spacer>
      <v-menu bottom offset-y>
        <template v-slot:activator="{on, attrs}">
          <v-btn class="pr-0 text-capitalize" v-on="on" v-bind="attrs" text rounded>
            {{userName}}
            <v-avatar class="ml-2 white--text" :color="UserColor(userLogin)" size="36">{{userName | avaname}}</v-avatar>
          </v-btn>
        </template>
        <v-list dense>
          <v-list-item @click="dark = !dark">
            <v-list-item-icon>
              <v-icon>mdi mdi-brightness-{{dark ? '7' : '5'}}</v-icon>
            </v-list-item-icon>
            <v-list-item-title>{{!dark ? 'Темная тема' : 'Светлая тема'}}</v-list-item-title>
          </v-list-item>
          <v-list-item @click="$router.push({ name: 'changelog' })">
            <v-list-item-icon>
              <v-icon>mdi mdi-format-list-bulleted-square</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Список изменений</v-list-item-title>
          </v-list-item>
          <v-divider></v-divider>
          <v-list-item @click="logout">
            <v-list-item-icon>
              <v-icon>mdi mdi-logout-variant</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Выход</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
      <!-- <v-btn @click="dark = !dark" icon><v-icon>mdi mdi-brightness-{{dark ? '5' : '7'}}</v-icon></v-btn> -->
    </v-app-bar>

    <v-content>
      <router-view />
    </v-content>

    <!-- <v-footer app>
      <span>&nbsp;Software Ateliers&nbsp;&copy;&nbsp;2020</span>
    </v-footer>-->
  </v-app>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Getter } from "vuex-class";
import AvaNameFilter from "../filters/avaname.filter";
import { UserColorText } from "@/models/api/user";

@Component({
  filters: {
    avaname: AvaNameFilter,
  },
})
export default class ProjectsRoot extends Vue {
  @Getter("name", { namespace: "auth" })
  private userName!: string;
  @Getter("login", { namespace: "auth" })
  private userLogin!: string;
  private UserColor = UserColorText;

  private clipped: boolean = true;
  private drawer: boolean = true;
  private miniVariant: boolean = false;
  private right: boolean = true;
  private title: string = "Tonakai";
  private items = [
    { title: "Главная", icon: "mdi-home", link: "/" },
    {
      title: "Проверки",
      icon: "mdi-clipboard-check-multiple",
      link: "/checks",
    },
    { title: "Замечания", icon: "mdi-note-multiple", link: "/notes" },
    { title: "Настройки", icon: "mdi-cog", link: "/settings" },
  ];

  get dark(): boolean {
    return this.$vuetify.theme.dark;
  }

  set dark(value: boolean) {
    localStorage.setItem("dark-theme", JSON.stringify(value));
    this.$vuetify.theme.dark = value;
  }

  private logout() {
    this.$router.push({ name: "auth", query: { a: "logout" } });
  }
}
</script>
