<template>
  <v-container fluid>
    <v-card>
      <v-toolbar flat>
        <v-toolbar-title>Замечания</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-btn @click="createDialog = true" color="success" elevation="0">Создать замечание</v-btn>
        <v-spacer></v-spacer>
        <v-btn @click="updateList" icon>
          <v-icon>mdi mdi-refresh</v-icon>
        </v-btn>
        <v-divider class="mx-2" inset vertical></v-divider>
        <v-btn :href="'/api/report/notes/' + projectId + '?format=0'" icon>
          <v-icon>mdi mdi-file-document-outline</v-icon>
        </v-btn>
        <v-btn :href="'/api/report/notes/' + projectId + '?format=1'" icon>
          <v-icon>mdi mdi-file-pdf-outline</v-icon>
        </v-btn>
        <v-btn :href="'/api/report/notes/' + projectId + '?format=2'" icon>
          <v-icon>mdi mdi-file-word-outline</v-icon>
        </v-btn>
        <v-divider class="mx-2" inset vertical></v-divider>
        <v-btn :href="'/api/report/project/' + projectId" icon>
          <v-icon>mdi mdi-file-excel-outline</v-icon>
        </v-btn>
        <v-divider class="mx-2" inset vertical></v-divider>
        <v-btn @click="openFilters" icon>
          <v-icon>mdi mdi-filter-outline</v-icon>
        </v-btn>
        <!-- <v-text-field
          class="pl-4"
          v-model="search"
          style="max-width: 300px"
          hide-details
          label="Поиск"
        ></v-text-field>-->
      </v-toolbar>
      <v-expand-transition>
        <v-card-text class="py-0" v-if="filterShow">
          <v-row>
            <v-col class="pt-0" cols="3">
              <v-select
                style="max-heigth: 54px;"
                v-model="filterStatus"
                :items="statusesArray"
                item-value="id"
                item-text="name"
                label="Статус"
                small-chips
                deletable-chips
                hide-details
                multiple
              ></v-select>
            </v-col>
            <v-col class="pt-0" cols="3">
              <v-autocomplete
                v-model="filterTitles"
                :items="titles"
                item-value="id"
                item-text="name"
                label="Титул"
                small-chips
                deletable-chips
                clearable
                hide-details
                multiple
              ></v-autocomplete>
            </v-col>
            <v-col class="pt-0" cols="3">
              <v-autocomplete
                v-model="filterSections"
                :items="sections"
                item-value="id"
                item-text="name"
                label="Раздел"
                small-chips
                deletable-chips
                clearable
                hide-details
                multiple
              ></v-autocomplete>
            </v-col>
            <v-col class="pt-0" cols="3">
              <v-autocomplete
                v-model="filterEquipment"
                :items="equipment"
                item-value="id"
                item-text="name"
                label="Оборудование"
                small-chips
                deletable-chips
                clearable
                hide-details
                multiple
              ></v-autocomplete>
            </v-col>
            <v-col class="pt-0" cols="3">
              <v-autocomplete
                v-model="filterCreatedBy"
                :items="usersCreate"
                item-value="id"
                item-text="name"
                label="Создал"
                small-chips
                deletable-chips
                clearable
                hide-details
                multiple
              ></v-autocomplete>
            </v-col>
            <v-col class="pt-0" cols="3">
              <v-autocomplete
                v-model="filterAnsweredBy"
                :items="usersAnswer"
                item-value="id"
                item-text="name"
                label="Ответил"
                small-chips
                deletable-chips
                clearable
                hide-details
                multiple
              ></v-autocomplete>
            </v-col>
            <v-col class="pt-0" cols="6">
              <v-text-field v-model="search" hide-details clearable label="Поиск"></v-text-field>
            </v-col>
          </v-row>
        </v-card-text>
      </v-expand-transition>

      <v-skeleton-loader v-if="loading" class="mb-4" type="table-thead,table-tbody,table-tfoot"></v-skeleton-loader>
      <v-data-table
        v-else
        class="table-row-pointer"
        :items="notesData"
        :headers="tableHeaders"
        :search="search"
        sort-by="updateDate"
        sort-desc
        @click:row="openNote"
      >
        <template v-slot:item.status="{ item }">
          <v-chip
            class="ml-2 white--text"
            :color="statuses[item.status].color"
            small
          >{{statuses[item.status].name}}</v-chip>
        </template>
        <template v-slot:item.createdBy="{ item }">
          <v-avatar size="36" :color="UserColor(item.createdBy)">
            <span
              class="white--text"
            >{{`${item.createdBy.firstName} ${item.createdBy.lastName}` | avaname}}</span>
          </v-avatar>
          {{item.createdBy.lastName}} {{item.createdBy.firstName}}
        </template>
        <template v-slot:item.answeredBy="{ item }">
          <template v-if="item.answeredBy != null">
            <v-avatar size="36" :color="UserColor(item.answeredBy)">
              <span
                class="white--text"
              >{{`${item.answeredBy.firstName} ${item.answeredBy.lastName}` | avaname}}</span>
            </v-avatar>
            {{item.answeredBy.lastName}} {{item.answeredBy.firstName}}
          </template>
        </template>
        <template v-slot:item.createDate="{ item }">{{item.createDate | datetime}}</template>
        <template v-slot:item.updateDate="{ item }">{{item.updateDate | datetime}}</template>
      </v-data-table>
    </v-card>
    <v-dialog max-width="1200" v-model="createDialog">
      <c-create-note @create="openNote">
        <template v-slot:toolbar>
          <v-btn @click="createDialog = false" icon>
            <v-icon>mdi mdi-close</v-icon>
          </v-btn>
        </template>
      </c-create-note>
    </v-dialog>
  </v-container>
</template>

<style lang="scss">
.table-row-pointer div table tbody tr {
  cursor: pointer;
}
</style>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { NoteInfo, StatusInfo } from "@/models/api/note";
import { UserColor, UserInfo } from "@/models/api/user";
import { DataTableHeader } from "vuetify";
import CreateNote from "@/components/check/CreateNote.vue";
import DateTimeFilter from "@/filters/datetime.filter";
import AvaNameFilter from "@/filters/avaname.filter";
import { EquipmentInfo, SectionInfo, TitleInfo } from "@/models/api";

@Component({
  components: {
    "c-create-note": CreateNote,
  },
  filters: {
    datetime: DateTimeFilter,
    avaname: AvaNameFilter,
  },
})
export default class Notes extends Vue {
  private loading: boolean = true;
  private notes: NoteInfo[] = [];
  private search: string = "";
  private statuses = StatusInfo;
  private UserColor = UserColor;

  private filterShow: boolean = false;
  private filterStatus: number[] = [0, 1, 2];
  private filterCreatedBy: string[] = [];
  private filterAnsweredBy: string[] = [];
  private filterTitles: number[] = [];
  private filterSections: number[] = [];
  private filterEquipment: number[] = [];

  private createDialog: boolean = false;

  get tableHeaders() /*: DataTableHeader[]*/ {
    return [
      {
        value: "id",
        text: "#",
        width: 90,
      },
      {
        value: "status",
        text: "Статус",
        width: 100,
        filter: (value: number) => {
          return this.filterStatus.includes(value);
        },
      },
      {
        value: "iteration",
        text: "Итерация",
      },
      {
        value: "shortText",
        text: "Описание",
      },
      {
        value: "titleText",
        text: "Титул",
      },
      {
        value: "title",
        align: " d-none",
        filter: (value: TitleInfo) => {
          if (this.filterTitles.length === 0) return true;
          return this.filterTitles.length > 0
            ? this.filterTitles.includes(value !== null ? value.id : 0)
            : true;
        },
      },
      {
        value: "sectionsText",
        text: "Разделы",
      },
      {
        value: "sections",
        align: " d-none",
        filter: (value: SectionInfo[]) => {
          if (this.filterSections.length === 0) return true;
          return value.some((v) =>
            this.filterSections.includes(v !== null ? v.id : -1)
          );
        },
      },
      {
        value: "equipmentText",
        text: "Оборудование",
      },
      {
        value: "equipment",
        align: " d-none",
        filter: (value: EquipmentInfo[]) => {
          if (this.filterEquipment.length === 0) return true;
          return value.some((v) =>
            this.filterEquipment.includes(v !== null ? v.id : -1)
          );
        },
      },
      {
        value: "priority",
        text: "Приоритет",
      },
      {
        value: "createdBy",
        text: "Создал",
        filter: (value: UserInfo) => {
          return this.filterCreatedBy.length > 0
            ? this.filterCreatedBy.includes(value !== null ? value.id : "-")
            : true;
        },
        width: 250,
      },
      {
        value: "answeredBy",
        text: "Ответил",
        filter: (value: UserInfo) => {
          return this.filterAnsweredBy.length > 0
            ? this.filterAnsweredBy.includes(value !== null ? value.id : "-")
            : true;
        },
        width: 250,
      },
      {
        value: "createDate",
        text: "Создано",
        width: 200,
      },
      {
        value: "updateDate",
        text: "Обновлено",
        width: 200,
      },
    ];
  }

  mounted() {
    this.updateList();
  }

  updateList() {
    this.loading = true;
    this.$axios
      .get(
        "/api/note/project/" +
          this.$route.params.projectId +
          "?data=true&deleted=true"
      )
      .then((response) => {
        this.notes = response.data as NoteInfo[];
        this.loading = false;
      });
  }

  get projectId() {
    return this.$route.params.projectId;
  }

  openNote(value: NoteInfo) {
    window.open(
      this.$router.resolve({
        name: "note",
        params: { id: value.id.toString() },
      }).href,
      "_blank"
    );
    //this.$router.push({ name: "note", params: { id: value.id.toString() } });
  }

  openFilters() {
    if (this.filterShow) {
      this.filterStatus = [0, 1, 2];
      //this.filterCreatedBy = this.usersCreate.map((val) => val.id);
      //this.filterAnsweredBy = this.usersAnswer.map((val) => val.id);
      this.search = "";
    }
    this.filterShow = !this.filterShow;
  }

  get notesData() {
    return this.notes.map((i) => ({
      ...i,
      titleText: i.title.name,
      sectionsText: i.sections.map((i) => i.name).join(", "),
      equipmentText: i.equipment.map((i) => i.name).join(", "),
    }));
  }

  get statusesArray() {
    return Object.values(this.statuses);
  }

  get usersCreate() {
    return [...new Set(this.notes.map((i) => i.createdBy))].map((i) => ({
      id: i.id,
      name: `${i.lastName} ${i.firstName}`,
    }));
  }

  get usersAnswer() {
    return [
      ...new Set(
        this.notes
          .filter((i) => i.answeredBy !== null && i.answeredBy !== undefined)
          .map((i) => i.answeredBy)
      ),
    ]
      .map((i) => ({ id: i.id, name: `${i.lastName} ${i.firstName}` }))
      .concat([{ id: "-", name: "Без ответа" }]);
  }

  get titles() {
    return [...new Set(this.notes.map((i) => i.title))].map((i) => ({
      id: i.id,
      name: i.name,
    }));
  }

  get sections() {
    return [...new Set(this.notes.flatMap((i) => i.sections))].map((i) => ({
      id: i.id,
      name: i.name,
    }));
  }

  get equipment() {
    return [...new Set(this.notes.flatMap((i) => i.equipment))].map((i) => ({
      id: i.id,
      name: i.name,
    }));
  }
}
</script>