<template>
  <v-container>
    <v-row v-if="loading">
      <v-col class="mx-auto" style="max-width: 1200px">
        <v-skeleton-loader type="article"></v-skeleton-loader>
      </v-col>
    </v-row>
    <v-row v-else>
      <v-col class="mx-auto" style="max-width: 1200px">
        <v-card>
          <v-toolbar flat>
            <v-btn @click="routeBack()" icon>
              <v-icon>mdi mdi-arrow-left</v-icon>
            </v-btn>
            <v-toolbar-title>Замечание #{{note.id}}</v-toolbar-title>
            <v-menu offset-y>
              <template v-slot:activator="{on, attrs}">
                <v-btn
                  v-on="on"
                  v-bind="attrs"
                  class="ml-2"
                  elevation="0"
                  :color="statuses[note.status].color"
                  dark
                  rounded
                >{{statuses[note.status].name}}</v-btn>
              </template>
              <v-list>
                <v-list-item
                  @click="changeStatus(st.id)"
                  v-for="st in menuStatuses"
                  :key="st.id"
                  :disabled="note.status == st.id || st.id == 255"
                >
                  <v-list-item-title>{{st.name}}</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-spacer></v-spacer>

            <v-btn :href="'/api/report/note/' + note.id + '?format=0'" icon>
              <v-icon>mdi mdi-file-document-outline</v-icon>
            </v-btn>
            <v-btn :href="'/api/report/note/' + note.id + '?format=1'" icon>
              <v-icon>mdi mdi-file-pdf-outline</v-icon>
            </v-btn>
            <v-btn :href="'/api/report/note/' + note.id + '?format=2'" icon>
              <v-icon>mdi mdi-file-word-outline</v-icon>
            </v-btn>
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-btn @click="editDialog = true" v-if="note.status != 255" icon>
              <v-icon>mdi mdi-square-edit-outline</v-icon>
            </v-btn>
            <v-btn @click="deleteDialog = true" v-if="note.status != 255" icon>
              <v-icon>mdi mdi-delete</v-icon>
            </v-btn>
          </v-toolbar>
          <c-note-info @iteration-changed="changeIteration" :note="note"></c-note-info>
        </v-card>
        <v-timeline class="mx-3" style="margin-bottom: -16px" dense clipped align-top>
          <v-slide-y-transition group>
            <c-event :event="event" v-for="event in note.events" :key="event.id" />
          </v-slide-y-transition>
        </v-timeline>
        <c-comment-editor @comment="onComment" :noteId="note.id"></c-comment-editor>
      </v-col>
    </v-row>
    <v-dialog :max-width="800" v-model="editDialog">
      <c-note-edit @changed="onChanged" :note="note_">
        <template v-slot:toolbar>
          <v-btn @click="editDialog = false" icon>
            <v-icon>mdi mdi-close</v-icon>
          </v-btn>
        </template>
      </c-note-edit>
    </v-dialog>
    <v-dialog :max-width="400" v-model="deleteDialog">
      <v-card>
        <v-toolbar flat>
          <v-toolbar-title>Удаление замечания</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn @click="deleteDialog = false" icon>
            <v-icon>mdi mdi-close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-card-text class="px-4 mt-2">Вы действительно хотите удалить замечание?</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text @click="deleteDialog = false">Отмена</v-btn>
          <v-btn class="elevation-0" @click="deleteNote" dark color="red">Удалить</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<style lang="scss">
.border-left {
  border-left: 1px solid #ccc;
}
</style>

<script lang="ts">
import { Component, Vue, Watch } from "vue-property-decorator";
import {
  NoteInfo,
  StatusInfo,
  NoteEventInfo,
  NoteStatus,
  EventType,
} from "@/models/api/note";
import { markdownPrerender } from "@/components/notes/markdown";
import { UserColor } from "@/models/api/user";
import { Getter } from "vuex-class";
import { TitleInfo } from "@/models/api/title";
import EventComponent from "@/components/notes/Event.vue";
import CommentEditor from "@/components/notes/CommentEditor.vue";
import FileComponent from "@/components/notes/FileComponent.vue";
import NoteInfoView from "@/components/notes/NoteInfoView.vue";
import EditNote from "@/components/check/EditNote.vue";

import VueMarkdown from "vue-markdown";
import Prism from "prismjs";
import "prismjs/themes/prism-okaidia.css";
import DateTimeFilter from "@/filters/datetime.filter";
import AvaNameFilter from "@/filters/avaname.filter";
//import { Picker } from "emoji-mart-vue";

@Component({
  components: {
    VueMarkdown,
    "c-event": EventComponent,
    "c-comment-editor": CommentEditor,
    "c-file": FileComponent,
    "c-note-info": NoteInfoView,
    "c-note-edit": EditNote,
    //Picker
  },
  filters: {
    datetime: DateTimeFilter,
    avaname: AvaNameFilter,
  },
})
export default class Note extends Vue {
  @Getter("name", { namespace: "auth" })
  private userName!: string;
  @Getter("login", { namespace: "auth" })
  private userLogin!: string;
  private markdownPrerender = markdownPrerender;

  private UserColor = UserColor;

  private loading: boolean = true;
  public note: NoteInfo = {
    id: -1,
    text: "",
    shortText: "",
    priority: 0,
    iteration: 1,
    title: { id: 0, name: "", desc: "" },
    sections: [],
    equipment: [],
    checkListItems: [],
    status: NoteStatus.Deleted,
    createDate: new Date(),
    updateDate: new Date(),
    createdBy: { id: "", firstName: "", lastName: "", login: "", email: "" },
    answeredBy: { id: "", firstName: "", lastName: "", login: "", email: "" },
    files: [],
    events: [],
  };
  private statuses = StatusInfo;
  public titles: TitleInfo[] = [];
  public formValid: boolean = false;

  private deleteDialog: boolean = false;
  private editDialog: boolean = false;

  mounted() {
    this.$axios
      .get<NoteInfo>("/api/note/" + this.$route.params.id)
      .then((response) => {
        this.note = response.data;
        this.$nextTick(() => {
          this.loading = false;
        });
      });
  }

  // startEdit() {
  //   if (this.titles.length == 0)
  //     this.$axios.get("/api/title").then((response) => {
  //       this.titles = response.data;
  //     });
  //   this.isEdit = true;
  // }

  // saveNote() {
  //   this.$axios.put("/api/note", this.note).then((response) => {
  //     this.isEdit = false;
  //     this.note = response.data;
  //   });
  // }

  onChanged(note: NoteInfo) {
    this.note = note;
    this.editDialog = false;
  }

  changeStatus(id: number) {
    this.$axios
      .post<NoteEventInfo>(`/api/note/${this.note!.id}/Status/${id}`)
      .then((value) => {
        this.pushEvent(value.data);
      });
  }

  changeIteration(iteration: number) {
    this.$axios
      .post<NoteEventInfo>(`/api/note/${this.note!.id}/Iteration/${iteration}`)
      .then((value) => {
        this.pushEvent(value.data);
      });
  }

  onComment(comment: NoteEventInfo) {
    this.pushEvent(comment);
  }

  pushEvent(event: NoteEventInfo) {
    if (event.type == EventType.Answer) this.note!.status = NoteStatus.ReqCheck;
    else if (event.type == EventType.StatusChange)
      this.note!.status = event.data.To;
    else if (event.type == EventType.Delete)
      this.note!.status = NoteStatus.Deleted;
    else if (event.type == EventType.IterationChange)
      this.note!.iteration = event.data.To;
    this.note!.updateDate = event.time;
    this.note!.events.push(event);
  }

  deleteNote() {
    this.$axios.post(`/api/note/${this.note!.id}/Status/255`).then((value) => {
      this.deleteDialog = false;
      this.pushEvent(value.data);
      // this.$router.push({
      //   name: "notes",
      //   params: { projectId: this.$route.params.projectId },
      // });
    });
  }

  get menuStatuses() {
    var statuses = Object.assign({}, this.statuses);
    delete statuses[255];
    return statuses;
  }

  get note_(): NoteInfo {
    return Object.assign({}, this.note);
  }

  deleteFile(fileIndex: number) {
    this.note!.files.splice(fileIndex, 1);
  }

  routeBack() {
    if (window.history.length > 2) this.$router.back();
    this.$router.push({ name: "notes" });
  }
}
</script>