<template>
  <v-dialog @click:outside="closeDialog" v-model="opened" :max-width="600">
    <v-card :loading="loading">
      <v-toolbar flat>
        <v-toolbar-title>Изменение титула</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn @click="closeDialog" icon>
          <v-icon>mdi mdi-close</v-icon>
        </v-btn>
      </v-toolbar>
      <v-form v-model="valid">
        <v-card-text>
          <v-text-field v-model="title.name" :rules="nameRules" label="Имя" required></v-text-field>
          <v-text-field v-model="title.desc" :rules="descRules" label="Описание" required></v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn @click="saveUser" color="success" :disabled="!valid">Сохранить</v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from "vue-property-decorator";
import { TitleInfo } from "@/models/api/title";

@Component({})
export default class EditTitleDialog extends Vue {
  @Prop({ type: Boolean })
  public opened: Boolean = false;
  @Prop()
  public title!: TitleInfo;

  private loading: boolean = false;

  private valid: boolean = false;
  private nameRules = [(v: string) => !!v || "Необходимо ввести название"];
  private descRules = [(v: string) => !!v || "Необходимо ввести описание"];

  closeDialog() {
    this.$emit("update:opened", false);
  }

  saveUser() {
    this.$axios
      .put("/api/title", this.title)
      .then(response => {
        this.$emit("changed", response.data as TitleInfo);
        this.closeDialog();
        this.loading = false;
      });
  }
}
</script>