<template>
  <v-dialog @click:outside="closeDialog" v-model="opened" :max-width="800">
    <v-card :loading="loading">
      <v-toolbar flat>
        <v-toolbar-title>Создание чек-листа</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn @click="closeDialog" icon>
          <v-icon>mdi mdi-close</v-icon>
        </v-btn>
      </v-toolbar>
      <v-form v-model="valid">
        <v-card-text>
          <v-text-field v-model="form.name" :rules="nameRules" label="Имя" required></v-text-field>
          <v-simple-table>
            <thead>
              <tr>
                <th>Название</th>
                <th>Приоритет</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="i in form.items" :key="i.id">
                <td>
                  <v-textarea
                    single-line
                    v-model="i.name"
                    auto-grow
                    :rows="1"
                    :rules="itemNameRules"
                    label="Название пункта"
                    required
                  ></v-textarea>
                </td>
                <td style="width: 190px">
                  <v-select
                    single-line
                    hide-details
                    dense
                    v-model="i.importance"
                    :items="importanceList"
                    item-text="name"
                    item-value="id"
                  ></v-select>
                </td>
                <!-- <td><v-text-field class="pt-0" single-line hide-details dense v-model="i.importance" label="Приоритет" required></v-text-field></td> -->
                <td style="width: 40px">
                  <v-btn @click="deleteItem(i)" icon>
                    <v-icon>mdi mdi-close</v-icon>
                  </v-btn>
                </td>
              </tr>
            </tbody>
          </v-simple-table>
          <v-btn @click="addItem" icon>
            <v-icon>mdi mdi-plus</v-icon>
          </v-btn>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn @click="createCheckList" color="success" :disabled="!valid || loading">Создать</v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from "vue-property-decorator";
import axios from "axios";
import { CheckListCreate, CheckListItemCreate, CheckListInfo } from "@/models/api/checklist";
import { ImportanceList } from "@/models/importance";

@Component({})
export default class CreateCheckListDialog extends Vue {
  @Prop({ type: Boolean })
  public opened: Boolean = false;
  public form: CheckListCreate = {
    project: 0,
    name: "",
    items: [{ name: "", importance: 20 }],
  };

  @Prop({ type: String })
  public projectId!: String;

  private loading: boolean = false;

  private valid: boolean = false;
  private nameRules = [(v: string) => !!v || "Необходимо ввести название"];
  private itemNameRules = [
    (v: string) => !!v || "Необходимо ввести название пункта",
  ];

  private importanceList = ImportanceList;

  @Watch("opened")
  private onOpened(value: Boolean) {
    if (this.opened) {
    } else {
      this.form = { project: 0, name: "", items: [{ name: "", importance: 20 }] };
    }
  }

  closeDialog() {
    this.$emit("update:opened", false);
  }

  createCheckList() {
    this.loading = true;
    this.form.project = parseInt(this.projectId.valueOf(), 10);
    axios.post("/api/checklist", this.form).then((response) => {
      this.$emit("created", response.data as CheckListInfo);
      this.closeDialog();
      this.loading = false;
    });
  }

  addItem() {
    this.form.items.push({ name: "", importance: 20 });
  }

  deleteItem(item: CheckListItemCreate) {
    let index = this.form.items.indexOf(item);
    this.form.items.splice(index, 1);
  }
}
</script>