<template>
  <v-dialog @click:outside="closeDialog" v-model="opened" :max-width="800">
    <v-card :loading="loading">
      <v-toolbar flat>
        <v-toolbar-title>Редактирование чек-листа</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn @click="closeDialog" icon>
          <v-icon>mdi mdi-close</v-icon>
        </v-btn>
      </v-toolbar>
      <v-form v-model="valid">
        <v-card-text>
          <v-text-field v-model="form.name" :rules="nameRules" label="Имя" required></v-text-field>
          <v-list>
            <div v-for="i in form.items" :key="i.id">
              <v-list-item>
                <v-list-item-avatar>
                  <v-avatar size="12" :color="getColor(i.importance)"></v-avatar>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title style="white-space: normal">{{i.name}}</v-list-item-title>
                </v-list-item-content>
                <v-list-item-action>
                  <v-btn icon>
                    <v-icon>mdi mdi-delete</v-icon>
                  </v-btn>
                </v-list-item-action>
              </v-list-item>
              <v-divider></v-divider>
            </div>
          </v-list>
          <v-btn @click="addItem" icon>
            <v-icon>mdi mdi-plus</v-icon>
          </v-btn>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn @click="closeDialog" text>Отмена</v-btn>
          <v-btn @click="createCheckList" color="success" :disabled="!valid || loading">Сохранить</v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
    <v-dialog></v-dialog>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from "vue-property-decorator";
import axios from "axios";
import {
  CheckListInfo,
  CheckListItemInfo
} from "@/models/api/checklist";
import { ImportanceList } from "@/models/importance";

@Component({})
export default class EditCheckListDialog extends Vue {
  @Prop({ type: Boolean })
  public opened: Boolean = false;
  @Prop()
  public clist!: CheckListInfo;

  private loading: boolean = false;

  private valid: boolean = false;
  private nameRules = [(v: string) => !!v || "Необходимо ввести название"];
  private itemNameRules = [
    (v: string) => !!v || "Необходимо ввести название пункта"
  ];

  private importanceList = ImportanceList;

  @Watch("opened")
  private onOpened(value: Boolean) {
    if (this.opened) {
      this.loading = false;
    } else {
      //this.form = { name: "", items: [{ name: "", importance: 20 }] };
    }
  }

  getColor(id: number): string | undefined {
    return ImportanceList.filter(v => v.id == id)[0].color;
  }

  closeDialog() {
    this.$emit("update:opened", false);
  }

  createCheckList() {
    this.loading = true;
    axios.post("/api/checklist", this.clist).then(response => {
      this.$emit("created", response.data as CheckListInfo);
      this.closeDialog();
      this.loading = false;
    });
  }

  addItem() {
  //  this.form.items.push({ name: "", importance: 20 });
  }

  deleteItem(item: CheckListItemInfo) {
  //  let index = this.form.items.indexOf(item);
  //  this.form.items.splice(index, 1);
  }
}
</script>