<template>
  <v-dialog @click:outside="closeDialog" v-model="opened" :max-width="600">
    <v-card :loading="loading">
      <v-toolbar flat>
        <v-toolbar-title>Создание пользователя</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn @click="closeDialog" icon>
          <v-icon>mdi mdi-close</v-icon>
        </v-btn>
      </v-toolbar>
      <v-form v-model="valid">
        <v-card-text>
          <v-row>
            <v-col class="py-0" cols="4">
              <v-text-field v-model="form.firstName" :rules="nameRules" label="Имя" required></v-text-field>
            </v-col>
            <v-col class="py-0" cols="4">
              <v-text-field v-model="form.lastName" :rules="nameRules" label="Фамилия" required></v-text-field>
            </v-col>
            <v-col class="py-0" cols="4">
              <v-text-field v-model="form.midName" label="Отчество"></v-text-field>
            </v-col>
            <v-col class="py-0" cols="12">
              <v-text-field v-model="form.department" label="Отдел"></v-text-field>
            </v-col>
            <v-col class="py-0" cols="12">
              <v-text-field v-model="form.login" :rules="loginRules" label="Логин" required></v-text-field>
            </v-col>
            <v-col class="py-0" cols="12">
              <v-text-field
                v-model="form.email"
                :rules="emailRules"
                type="email"
                label="Email"
                required
              ></v-text-field>
            </v-col>
            <v-col class="py-0" cols="12">
              <v-text-field
                v-model="form.password"
                :rules="passwordRules"
                type="password"
                label="Пароль"
                required
              ></v-text-field>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn @click="createUser" color="success" :disabled="!valid">Создать</v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from "vue-property-decorator";
import axios from "axios";
import { UserCreate, UserInfo } from "@/models/api/user";

@Component({})
export default class CreateUserDialog extends Vue {
  @Prop({ type: Boolean })
  public opened: Boolean = false;
  public form: UserCreate = new UserCreate();

  private loading: boolean = false;

  private valid: boolean = false;
  private nameRules = [(v: string) => !!v || "Необходимо ввести имя"];
  private loginRules = [(v: string) => !!v || "Необходимо ввести логин"];
  private emailRules = [
    (v: string) => !!v || "Необходимо ввести email",
    (v: string) => /.+@.+/.test(v) || "Введите действительный email",
  ];
  private passwordRules = [
    (v: string) => !!v || "Необходимо ввести пароль",
    (v: string) => v.length >= 6 || "Пароль должен быть длинее 6 символов",
  ];

  @Watch("opened")
  private onOpened(value: Boolean) {
    if (this.opened) {
    } else {
      this.form = new UserCreate();
    }
  }

  closeDialog() {
    this.$emit("update:opened", false);
  }

  createUser() {
    axios.post("/api/user", this.form).then((response) => {
      this.$emit("created", response.data as UserInfo);
      this.closeDialog();
      this.loading = false;
    });
  }
}
</script>