<template>
  <v-dialog @click:outside="closeDialog" v-model="opened" :max-width="600">
    <v-card :loading="loading">
      <v-toolbar flat>
        <v-toolbar-title>Создание пользователя</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn @click="closeDialog" icon>
          <v-icon>mdi mdi-close</v-icon>
        </v-btn>
      </v-toolbar>
      <v-form v-model="valid">
        <v-card-text>
          <v-row>
            <v-col class="py-0" cols="4">
              <v-text-field v-model="user.firstName" :rules="nameRules" label="Имя" required></v-text-field>
            </v-col>
            <v-col class="py-0" cols="4">
              <v-text-field v-model="user.lastName" :rules="nameRules" label="Фамилия" required></v-text-field>
            </v-col>
            <v-col class="py-0" cols="4">
              <v-text-field v-model="user.midName" label="Отчество"></v-text-field>
            </v-col>
            <v-col class="py-0" cols="12">
              <v-text-field v-model="user.department" label="Отдел"></v-text-field>
            </v-col>
            <v-col class="py-0" cols="12">
              <v-text-field v-model="user.login" :rules="loginRules" label="Логин" disabled=""></v-text-field>
            </v-col>
            <v-col class="py-0" cols="12">
              <v-text-field
                v-model="user.email"
                :rules="emailRules"
                type="email"
                label="Email"
                disabled=""
              ></v-text-field>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn @click="saveUser" color="success" :disabled="!valid">Сохранить</v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from "vue-property-decorator";
import axios from "axios";
import { UserInfo } from "@/models/api/user";

@Component({})
export default class EditUserDialog extends Vue {
  @Prop({ type: Boolean })
  public opened: Boolean = false;
  @Prop()
  public user!: UserInfo;

  private loading: boolean = false;

  private valid: boolean = false;
  private nameRules = [(v: string) => !!v || "Необходимо ввести имя"];
  private loginRules = [(v: string) => !!v || "Необходимо ввести логин"];
  private emailRules = [
    (v: string) => !!v || "Необходимо ввести email",
    (v: string) => /.+@.+/.test(v) || "Введите действительный email",
  ];
  private passwordRules = [
    (v: string) => !!v || "Необходимо ввести пароль",
    (v: string) => v.length >= 6 || "Пароль должен быть длинее 6 символов",
  ];

  closeDialog() {
    this.$emit("update:opened", false);
  }

  saveUser() {
    axios
      .put("/api/user", this.user)
      .then((response) => {
        this.$emit("changed", response.data as UserInfo);
        this.closeDialog();
        this.loading = false;
      });
  }
}
</script>