<template>
  <v-card :loading="loading">
    <!-- <v-card-title>Создание замечания</v-card-title> -->
    <v-toolbar flat>
      <v-toolbar-title>Создание замечания</v-toolbar-title>
      <v-spacer></v-spacer>
      <slot name="toolbar"></slot>
    </v-toolbar>
    <v-card-text>
      <v-form ref="form" v-model="formValid">
        <v-row>
          <v-col cols="9">
            <v-autocomplete
              v-model="form.title"
              :items="titles"
              :rules="[v => !!v]"
              item-text="name"
              item-value="id"
              outlined
              hide-details
              required
              label="Титул"
            ></v-autocomplete>
          </v-col>
          <v-col cols="3">
            <v-autocomplete
              v-model="form.sections"
              multiple
              :rules="[v => v.length > 0]"
              :items="sections"
              item-text="name"
              item-value="id"
              outlined
              hide-details
              label="Раздел"
            ></v-autocomplete>
          </v-col>
          <v-col cols="9">
            <v-autocomplete
              v-model="form.equipment"
              multiple
              outlined
              :items="equipment"
              item-text="name"
              item-value="id"
              hide-details
              label="Позиция/оборудование"
              :rules="[v => !!v]"
              append-icon="mdi-plus"
              @click:append="createEquipDialog = true"
            ></v-autocomplete>
          </v-col>
          <v-col cols="3">
            <v-select
              v-model="form.priority"
              :items="[1, 2, 3, 4, 5]"
              outlined
              hide-details
              label="Приоритет"
            ></v-select>
          </v-col>
          <v-col cols="12">
            <v-text-field
              v-model="form.shortText"
              outlined
              hide-details
              label="Краткое описание"
            ></v-text-field>
          </v-col>
          <v-col cols="12">
            <v-textarea
              @paste="filePaste"
              v-model="form.text"
              outlined
              hide-details
              label="Текст"
              :rules="[v => !!v]"
            ></v-textarea>
          </v-col>
          <v-col v-for="(f, i) in files" :key="f.name" cols="3">
            <c-file :file="f" @delete="deleteImage(i)" :editable="true"></c-file>
          </v-col>
        </v-row>
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-file-input class="ml-1 mb-1" multiple @change="imageSelected" hide-input></v-file-input>
      <v-spacer></v-spacer>
      <v-btn @click="createNote" :disabled="!formValid" color="success" :dark="formValid">Создать</v-btn>
    </v-card-actions>
    <c-createequip @created="equipCreated" :opened.sync="createEquipDialog" :sections=sections></c-createequip>
  </v-card>
</template>

<style scoped lang="scss">
.img-delete-btn {
  position: absolute;
  right: 5px;
  top: 5px;

  &:not(.v-btn--text):not(.v-btn--outlined) {
    &::before {
      opacity: 0.25;
      background-color: black;
    }
    &:hover::before {
      opacity: 0.45;
    }
  }
}
</style>

<script lang="ts">
import { Component, Vue, Ref } from "vue-property-decorator";
import {
  NoteCreate,
  FileCreate,
  TitleInfo,
  SectionInfo,
  EquipmentInfo,
  FileInfo,
} from "@/models/api";

import FileComponent from "@/components/notes/FileComponent.vue";
import CreateEquipmentDialog from '@/components/settings/equipment/CreateEquipmentDialog.vue';

@Component({
  components: {
    "c-file": FileComponent,
    "c-createequip": CreateEquipmentDialog
  },
})
export default class CreateNote extends Vue {
  form: NoteCreate = {
    text: "",
    shortText: "",
    project: 0,
    priority: 3,
    title: 0,
    sections: [],
    equipment: [],
    checkListItems: [],
    files: [],
  };
  createEquipDialog: boolean = false;

  files: FileCreate[] = [];
  loading: boolean = true;
  formValid: boolean = false;
  titles: TitleInfo[] = [];
  sections: SectionInfo[] = [];

  async mounted() {
    var titles = await this.$axios.get<TitleInfo[]>(
      "/api/title/project/" + this.$route.params.projectId
    );
    var sections = await this.$axios.get<SectionInfo[]>(
      "/api/section/project/" + this.$route.params.projectId + "?full=true"
    );
    this.titles = titles.data;
    this.sections = sections.data;
    this.loading = false;
  }

  get equipment(): EquipmentInfo[] {
    return this.sections
      .filter((s) => this.form.sections.includes(s.id))
      .flatMap((s) => s.equipment);
  }

  imageSelected(files: File[]) {
    files.forEach((file) => {
      let reader = new FileReader();
      reader.onload = () => {
        this.files.push({
          name: file.name,
          data: reader.result as string,
        });
      };
      reader.readAsDataURL(file);
    });
  }

  filePaste(event: ClipboardEvent) {
    if (event.clipboardData != null) {
      let count = event.clipboardData.files.length;
      for (let i = 0; i < count; i++) {
        let reader = new FileReader();
        reader.onload = () => {
          this.files.push({
            name: `${Date.now()}`,
            data: reader.result as string,
          });
        };
        reader.readAsDataURL(event.clipboardData.files[i]);
      }
    }
  }

  deleteImage(imageIndex: number) {
    this.files.splice(imageIndex, 1);
  }

  equipCreated(section: number, equip: EquipmentInfo) {
    for (let i = 0; i < this.sections.length; i++){
      if (this.sections[i].id == section) {
        this.sections[i].equipment.push(equip);
        this.form.equipment.push(equip.id);
        break;
      }
    }
  }

  async createNote() {
    this.loading = true;
    try {
      for (let i = 0; i < this.files.length; i++) {
        let f = await this.$axios.post<FileInfo>("/api/file", this.files[i]);
        this.form.files.push(f.data.id);
      }
      this.form.project = parseInt(this.$route.params.projectId, 10);
      let resp = await this.$axios.post("/api/note", this.form);
      this.form = {
        text: "",
        shortText: "",
        project: 0,
        priority: 3,
        title: 0,
        sections: [],
        equipment: [],
        checkListItems: [],
        files: [],
      };
      this.loading = false;
      (this.$refs.form as any).resetValidation();
      this.files = [];
      this.$emit("create", resp.data);
    } catch (e) {
      alert("Произошла ошибка при создании замечания");
    }
  }
}
</script>