<template>
  <v-card :loading="loading">
    <!-- <v-card-title>Создание замечания</v-card-title> -->
    <v-toolbar flat>
      <v-toolbar-title>Редактирование замечания</v-toolbar-title>
      <v-spacer></v-spacer>
      <slot name="toolbar"></slot>
    </v-toolbar>
    <v-card-text>
      <v-form ref="form" v-model="formValid">
        <v-row>
          <v-col cols="9">
            <v-autocomplete
              v-model="note.title"
              :items="titles"
              :rules="[v => !!v]"
              item-text="name"
              outlined
              hide-details
              required
              label="Титул"
            ></v-autocomplete>
          </v-col>
          <v-col cols="3">
            <v-autocomplete
              v-model="note.sections"
              multiple
              :rules="[v => v.length > 0]"
              :items="sections"
              item-text="name"
              outlined
              hide-details
              label="Раздел"
            ></v-autocomplete>
          </v-col>
          <v-col cols="9">
            <v-autocomplete
              v-model="note.equipment"
              multiple
              outlined
              :items="equipment"
              hide-details
              label="Позиция/оборудование"
              :rules="[v => !!v]"
              append-icon="mdi-plus"
              @click:append="createEquipDialog = true"
            ></v-autocomplete>
          </v-col>
          <v-col cols="3">
            <v-select
              v-model="note.priority"
              :items="[1, 2, 3, 4, 5]"
              outlined
              hide-details
              label="Приоритет"
            ></v-select>
          </v-col>
          <v-col cols="12">
            <v-text-field
              v-model="note.shortText"
              outlined
              hide-details
              label="Краткое описание"
            ></v-text-field>
          </v-col>
          <v-col cols="12">
            <v-textarea
              @paste="filePaste"
              v-model="note.text"
              outlined
              hide-details
              label="Текст"
              :rules="[v => !!v]"
            ></v-textarea>
          </v-col>
          <v-col v-for="(f, i) in files" :key="f.name" cols="3">
            <c-file :file="f" @delete="deleteImage(i)" :editable="true"></c-file>
          </v-col>
        </v-row>
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-file-input class="ml-1 mb-1" multiple @change="imageSelected" hide-input></v-file-input>
      <v-spacer></v-spacer>
      <v-btn @click="createNote" :disabled="!formValid" color="success" :dark="formValid">Сохранить</v-btn>
    </v-card-actions>
    <c-createequip @created="equipCreated" :opened.sync="createEquipDialog" :sections="sections"></c-createequip>
  </v-card>
</template>

<style scoped lang="scss">
.img-delete-btn {
  position: absolute;
  right: 5px;
  top: 5px;

  &:not(.v-btn--text):not(.v-btn--outlined) {
    &::before {
      opacity: 0.25;
      background-color: black;
    }
    &:hover::before {
      opacity: 0.45;
    }
  }
}
</style>

<script lang="ts">
import { Component, Vue, Ref, Prop } from "vue-property-decorator";
import {
  NoteCreate,
  FileCreate,
  TitleInfo,
  SectionInfo,
  EquipmentInfo,
  FileInfo,
  NoteInfo,
} from "@/models/api";

import FileComponent from "@/components/notes/FileComponent.vue";
import CreateEquipmentDialog from "@/components/settings/equipment/CreateEquipmentDialog.vue";

@Component({
  components: {
    "c-file": FileComponent,
    "c-createequip": CreateEquipmentDialog,
  },
})
export default class EditNote extends Vue {
  @Prop()
  note!: NoteInfo;

  createEquipDialog: boolean = false;

  files: Array<FileInfo | FileCreate> = [];
  loading: boolean = true;
  formValid: boolean = false;
  titles: TitleInfo[] = [];
  sections: SectionInfo[] = [];

  async mounted() {
    var titles = await this.$axios.get<TitleInfo[]>(
      "/api/title/project/" + this.$route.params.projectId
    );
    var sections = await this.$axios.get<SectionInfo[]>(
      "/api/section/project/" + this.$route.params.projectId + "?full=true"
    );
    this.titles = titles.data;
    this.sections = sections.data;
    this.files = this.note.files;
    this.loading = false;
  }

  get equipment() {
    let sections = this.note.sections.map((sn) => sn.id);
    return this.sections
      .filter((s) => sections.includes(s.id))
      .flatMap((s) => s.equipment)
      .map((s) => ({
        text: s.name,
        value: s
      }));
  }

  imageSelected(files: File[]) {
    files.forEach((file) => {
      let reader = new FileReader();
      reader.onload = () => {
        this.files.push({
          name: file.name,
          data: reader.result as string,
        });
      };
      reader.readAsDataURL(file);
    });
  }

  filePaste(event: ClipboardEvent) {
    if (event.clipboardData != null) {
      let count = event.clipboardData.files.length;
      for (let i = 0; i < count; i++) {
        let reader = new FileReader();
        reader.onload = () => {
          this.files.push({
            name: `${Date.now()}`,
            data: reader.result as string,
          });
        };
        reader.readAsDataURL(event.clipboardData.files[i]);
      }
    }
  }

  deleteImage(imageIndex: number) {
    this.files.splice(imageIndex, 1);
  }

  equipCreated(section: number, equip: EquipmentInfo) {
    for (let i = 0; i < this.sections.length; i++) {
      if (this.sections[i].id == section) {
        this.sections[i].equipment.push(equip);
        this.note.equipment.push(equip);
        break;
      }
    }
  }

  async createNote() {
    this.loading = true;
    try {
      this.note.files = [];
      for (let i = 0; i < this.files.length; i++) {
        if ((this.files[i] as FileInfo).id) {
          this.note.files.push(this.files[i] as FileInfo);
        } else {
          let f = await this.$axios.post<FileInfo>("/api/file", this.files[i]);
          this.note.files.push(f.data);
        }
      }
      let resp = await this.$axios.put("/api/note", this.note);
      this.loading = false;
      this.files = [];
      this.$emit("changed", resp.data);
    } catch (e) {
      alert("Произошла ошибка при создании замечания");
    }
  }
}
</script>