<template>
  <v-row>
    <v-col class="mx-auto" style="max-width: 400px">
      <v-card :loading="loading">
        <v-card-title>Проверка</v-card-title>
        <v-card-text>
          <v-form>
            <v-select v-model="title" :items="titles" item-text="name" item-value="id" label="Титул"></v-select>
            <v-select v-model="checklist" :items="checklists" item-text="name" item-value="id" label="Чеклист"></v-select>
            <v-btn @click="start" block color="success">Начать проверку</v-btn>
          </v-form>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import axios from "axios";
import { NoteCreate } from "@/models/api/note";
import { TitleInfo } from "../../models/api/title";
import { CheckListInfo } from "../../models/api/checklist";

@Component({})
export default class StartScreen extends Vue {
  titles: TitleInfo[] = [];
  checklists: CheckListInfo[] = [];

  title: number | null = null;
  checklist: number | null = null;

  loading: boolean = true;

  async mounted() {
    let titles = await axios.get<TitleInfo[]>("/api/title");
    let checklists = await axios.get<CheckListInfo[]>("/api/checklist");
    this.titles = titles.data;
    this.checklists = checklists.data;
    this.loading = false;
  }

  start() {
    if (this.title && this.checklist)
      this.$emit("selected", {
        title: this.title,
        checklist: this.checklist
      });
  }
}
</script>