<template>
  <v-dialog @click:outside="closeDialog" v-model="opened" :max-width="800">
    <v-card :loading="loading">
      <v-toolbar flat>
        <v-toolbar-title>Создание проекта</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn @click="closeDialog" icon>
          <v-icon>mdi mdi-close</v-icon>
        </v-btn>
      </v-toolbar>
      <v-form v-model="valid">
        <v-card-text>
          <v-text-field v-model="form.name" :rules="nameRules" label="Название" required></v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn @click="createCheckList" color="success" :disabled="!valid || loading">Создать</v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from "vue-property-decorator";
import axios from "axios";
import { ProjectCreate, ProjectInfo } from '@/models/api/project';

@Component({})
export default class CreateProjectDialog extends Vue {
  @Prop({ type: Boolean })
  public opened: Boolean = false;
  public form: ProjectCreate = {
    name: ''
  };

  private loading: boolean = false;

  private valid: boolean = false;
  private nameRules = [(v: string) => !!v || "Необходимо ввести название"];

  @Watch("opened")
  private onOpened(value: Boolean) {
    if (this.opened) {
    } else {
      this.form = { name: "" };
    }
  }

  closeDialog() {
    this.$emit("update:opened", false);
  }
  
  createCheckList() {
    this.loading = true;
    axios.post("/api/project", this.form).then((response) => {
      this.$emit("created", response.data as ProjectInfo);
      this.closeDialog();
      this.loading = false;
    });
  }
}
</script>