<template>
  <v-container>
    <div v-if="!loading">
      <v-toolbar class="mb-2" elevation="2">
        <v-toolbar-title>Статистика: {{stats.name}}</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn @click="updateStats" icon>
          <v-icon>mdi mdi-reload</v-icon>
        </v-btn>
      </v-toolbar>
      <v-card class="mb-2 pb-2">
        <v-row class="px-2">
          <v-col cols="3">
            <div class="pa-2">
              <div class="display-3">{{totalNotes}}</div>
              <div>Всего замечаний</div>
            </div>
          </v-col>
          <v-col cols="3">
            <div class="pa-2 red rounded white--text">
              <div class="display-3">{{stats.notes.actual}}</div>
              <div>Актуально</div>
            </div>
          </v-col>
          <v-col cols="3">
            <div class="pa-2 orange rounded white--text">
              <div class="display-3">{{stats.notes.reqCheck}}</div>
              <div>Исправлено</div>
            </div>
          </v-col>
          <v-col cols="3">
            <div class="pa-2 green rounded white--text">
              <div class="display-3">{{stats.notes.closed}}</div>
              <div>Принято</div>
            </div>
          </v-col>
        </v-row>
        <div class="px-2 d-flex multiprogressbar" style="height: 8px; width: 100%;">
          <div
            v-if="stats.notes.actual != 0"
            class="red"
            :style="`height: 100%; flex: ${stats.notes.actual};`"
          ></div>
          <div
            v-if="stats.notes.reqCheck != 0"
            class="orange"
            :style="`height: 100%; flex: ${stats.notes.reqCheck};`"
          ></div>
          <div
            v-if="stats.notes.closed != 0"
            class="green"
            :style="`height: 100%; flex: ${stats.notes.closed};`"
          ></div>
        </div>
      </v-card>
      <v-data-table class="elevation-2" :items="users" :headers="headers" sort-by="name">
        <template v-slot:item.name="{ item }">
          <v-avatar size="36" :color="UserColor(item)">
            <span class="white--text">{{`${item.firstName} ${item.lastName}` | avaname}}</span>
          </v-avatar>
          {{item.lastName}} {{item.firstName}}
        </template>
      </v-data-table>
    </div>
  </v-container>
</template>

<style lang="scss">
.multiprogressbar {
  div:first-child {
    border-radius: 10px 0 0 10px;
  }
  div:last-child {
    border-radius: 0 10px 10px 0;
  }
}
</style>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { DataTableHeader } from "vuetify";
import AvaNameFilter from "@/filters/avaname.filter";
import { ProjectStats, UserColor } from "@/models/api";

@Component({
  filters: {
    avaname: AvaNameFilter,
  },
})
export default class ProjectStatsPage extends Vue {
  private loading: boolean = true;
  private stats: ProjectStats | null = null;
  private UserColor = UserColor;

  private headers: DataTableHeader[] = [
    {
      value: "name",
      text: "Пользователь",
    },
    {
      value: "created",
      text: "Создано",
    },
    {
      value: "answered",
      text: "Отвечено",
    },
  ];

  mounted() {
    this.updateStats();
  }

  updateStats() {
    this.loading = true;
    this.$axios
      .get<ProjectStats>(
        "/api/project/" + this.$route.params.projectId + "/stats"
      )
      .then((response) => {
        this.stats = response.data;
        this.loading = false;
      });
  }

  get totalNotes(): number {
    if (this.stats)
      return (
        this.stats.notes.actual +
        this.stats.notes.reqCheck +
        this.stats.notes.closed
      );
    return 0;
  }

  get users() {
    //return [...this.stats!.users.map(u => u.user), ]
    return this.stats!.users.map((u) => ({
      ...u.user,
      created: u.created,
      answered: u.answered,
      name: `${u.user.lastName} ${u.user.firstName} ${u.user.midName}`,
    }));
  }
}
</script>