<template>
  <v-container>
    <div class="d-flex">
      <h1>Проекты</h1>
      <v-spacer></v-spacer>
      <v-btn @click="createDialog = true" color="success" dark>Создать проект</v-btn>
    </div>
    <v-row>
      <v-col v-for="proj in projects" :key="proj.id" cols="3">
        <v-hover>
          <template v-slot="{ hover }">
            <v-card
              :elevation="hover ? 10 : 6"
              :to="{name: 'dashboard', params: { projectId: proj.id }}"
            >
              <v-card-title>{{proj.name}}</v-card-title>
            </v-card>
          </template>
        </v-hover>
      </v-col>
    </v-row>
    <c-createproject @created="projectCreated" :opened.sync="createDialog"></c-createproject>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { ProjectInfo } from "@/models/api/project";
import CreateProjectDialog from "@/components/project/CreateProjectDialog.vue";

@Component({
  components: {
    "c-createproject": CreateProjectDialog,
  },
})
export default class Projects extends Vue {
  private loading: boolean = true;
  private createDialog: boolean = false;

  private projects: ProjectInfo[] = [];

  mounted() {
    this.$axios.get("/api/project").then((response) => {
      this.projects = response.data as ProjectInfo[];
      this.loading = false;
    });
  }

  projectCreated(title: ProjectInfo) {
    this.projects.push(title);
  }

  //   editTitle(title: TitleInfo) {
  //     this.editIndex = this.titles.indexOf(title);
  //     this.editItem = Object.assign({}, title);
  //     this.editDialog = true;
  //   }

  //   deleteTitle(title: TitleInfo) {
  //     this.editIndex = this.titles.indexOf(title);
  //     this.editItem = Object.assign({}, title);
  //     this.deleteDialog = true;
  //   }

  //   deleteConfirm() {
  //     axios.delete(`/api/title/${this.editItem.id}`).then(response => {
  //       this.titles.splice(this.editIndex, 1);
  //       this.deleteDialog = false;
  //     });
  //   }

  //   titleChanged(title: TitleInfo) {
  //     Object.assign(this.titles[this.editIndex], title);
  //   }
}
</script>