<template>
  <v-card>
    <v-tabs right v-model="tab">
      <v-tab :key="0">Редактирование</v-tab>
      <v-tab :key="1">Предпросмотр</v-tab>
    </v-tabs>
    <v-tabs-items v-model="tab">
      <v-tab-item :key="0">
        <v-textarea
          v-model="comment"
          rows="1"
          auto-grow
          no-resize
          solo
          hide-details
          placeholder="Комментарий"
          class="mx-3"
          @keydown.ctrl.enter="sendComment"
          @paste="filePaste"
          flat
        >
          <template v-slot:append-outer>
            <!-- <v-menu :close-on-content-click="false" offset-y top left>
              <template v-slot:activator="{on, attrs}">
                <v-btn style="margin-top: -5px" v-on="on" v-bind="attrs" icon>
                  <v-icon>mdi mdi-emoticon-happy-outline</v-icon>
                </v-btn>
              </template>
              <picker :native="true"></picker>
            </v-menu>-->
          </template>
        </v-textarea>
      </v-tab-item>
      <v-tab-item>
        <v-card-text>
          <vue-markdown :source="comment" :prerender="markdownPrerender" @rendered="markdownUpdate"></vue-markdown>
        </v-card-text>
      </v-tab-item>
    </v-tabs-items>
    <v-divider></v-divider>
    <template v-if="files.length != 0">
      <v-card-text>
        Вложения
        <v-row>
          <v-col v-for="(f, i) in files" :key="f.name" cols="3">
            <c-file :file="f" @delete="deleteFile(i)" :editable="true"></c-file>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
    </template>
    <v-card-actions>
      <v-file-input style="max-width: 40px" hide-details dense class="ml-1 mb-1" multiple @change="imageSelected" hide-input></v-file-input>
      <v-checkbox v-model="isAnswer" class="mt-0 pt-0" hide-details label="Ответ на замечание"></v-checkbox>
      <v-spacer></v-spacer>
      <v-btn @click="sendComment" color="primary" dark>
        Отправить
        <v-icon class="ml-2">mdi mdi-send</v-icon>
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script lang="ts">
import { Component, Vue, Watch, Prop } from "vue-property-decorator";
import { NoteEventInfo, StatusInfo, FileInfo, FileCreate } from "@/models/api";
import { Getter } from "vuex-class";
import { markdownPrerender } from "./markdown";

import DateTimeFilter from "@/filters/datetime.filter";
import AvaNameFilter from "@/filters/avaname.filter";

import VueMarkdown from "vue-markdown";
import FileComponent from "./FileComponent.vue";

@Component({
  components: {
    VueMarkdown,
    "c-file": FileComponent,
  },
  filters: {
    datetime: DateTimeFilter,
    avaname: AvaNameFilter,
  },
})
export default class CommentEditor extends Vue {
  @Getter("name", { namespace: "auth" })
  private userName!: string;
  @Getter("login", { namespace: "auth" })
  private userLogin!: string;

  @Prop()
  private noteId!: number;

  private markdownPrerender = markdownPrerender;
  private tab: number = 0;
  private comment: string = "";
  private isAnswer: boolean = false;

  private files: FileCreate[] = [];

  private async sendComment() {
    if (this.comment.trim() != "") {
      try {
        let files: string[] = [];
        for (let i = 0; i < this.files.length; i++) {
          let f = await this.$axios.post<FileInfo>("/api/file", this.files[i]);
          files.push(f.data.id);
        }
        let comment = await this.$axios.post<NoteEventInfo>(
          this.isAnswer ? "/api/note/answer" : "/api/note/comment",
          {
            noteId: this.noteId,
            text: this.comment,
            files: files,
          }
        );
        this.$emit("comment", comment.data);
      } catch (e) {
        alert("Произошла ошибка при создании комментария");
      }
      this.comment = "";
      this.files = [];
    }
    return Promise.resolve;
  }

  filePaste(event: ClipboardEvent) {
    if (event.clipboardData != null) {
      let count = event.clipboardData.files.length;
      for (let i = 0; i < count; i++) {
        let reader = new FileReader();
        reader.onload = () => {
          this.files.push({
            name: `${Date.now()}`,
            data: reader.result as string,
          });
        };
        reader.readAsDataURL(event.clipboardData.files[i]);
      }
    }
  }

  imageSelected(files: File[]) {
    files.forEach((file) => {
      let reader = new FileReader();
      reader.onload = () => {
        this.files.push({
          name: file.name,
          data: reader.result as string,
        });
      };
      reader.readAsDataURL(file);
    });
  }

  deleteFile(fileIndex: number) {
    this.files.splice(fileIndex, 1);
  }

  private markdownUpdate() {}
}
</script>