<template>
  <v-timeline-item v-if="event.type == 1" class="mb-4" color="red" small>
    <v-row justify="space-between">
      <v-col class="pt-0" cols="7">
        <b>{{event.user.firstName}} {{event.user.lastName}}</b> создал замечание
      </v-col>
      <v-col class="pt-0 text-right" cols="5">{{event.time | datetime}}</v-col>
    </v-row>
  </v-timeline-item>
  <v-timeline-item v-else-if="event.type == 2" class="mb-4" color="purple" small>
    <v-row justify="space-between">
      <v-col class="pt-0" cols="7">
        <b>{{event.user.firstName}} {{event.user.lastName}}</b> изменил замечание
      </v-col>
      <v-col class="pt-0 text-right" cols="5">{{event.time | datetime}}</v-col>
    </v-row>
  </v-timeline-item>
  <v-timeline-item v-else-if="event.type == 3" class="mb-4" color="orange" small>
    <v-row justify="space-between">
      <v-col class="pt-0" cols="7">
        <b>{{event.user.firstName}} {{event.user.lastName}}</b> изменил статус замечания с
        <v-chip
          class="mx-1 white--text"
          small
          :color="statuses[event.data.From].color"
        >{{statuses[event.data.From].name}}</v-chip>на
        <v-chip
          class="mx-1 white--text"
          small
          :color="statuses[event.data.To].color"
        >{{statuses[event.data.To].name}}</v-chip>
      </v-col>
      <v-col class="pt-0 text-right" cols="5">{{event.time | datetime}}</v-col>
    </v-row>
  </v-timeline-item>
  <v-timeline-item v-else-if="event.type == 7" class="mb-4" color="lime" small>
    <v-row justify="space-between">
      <v-col class="pt-0" cols="7">
        <b>{{event.user.firstName}} {{event.user.lastName}}</b> изменил номер итерации с <b>{{event.data.From}}</b> на <b>{{event.data.To}}</b>
      </v-col>
      <v-col class="pt-0 text-right" cols="5">{{event.time | datetime}}</v-col>
    </v-row>
  </v-timeline-item>
  <v-timeline-item v-else-if="event.type == 6" class="mb-4" color="black" small>
    <v-row justify="space-between">
      <v-col class="pt-0" cols="7">
        <b>{{event.user.firstName}} {{event.user.lastName}}</b> удалил замечание
      </v-col>
      <v-col class="pt-0 text-right" cols="5">{{event.time | datetime}}</v-col>
    </v-row>
  </v-timeline-item>
  <v-timeline-item
    v-else-if="event.type == 5 || event.type == 4"
    class="mb-4"
    :color="UserColor(event.user)"
    large
    small
    :key="event.id"
  >
    <template v-slot:icon>
      <span class="white--text">{{`${event.user.lastName} ${event.user.firstName}` | avaname}}</span>
    </template>
    <v-card class="elevation-3">
      <v-card-text class="pb-0">
        <vue-markdown :source="event.data.Text" :prerender="markdownPrerender"></vue-markdown>
      </v-card-text>
      <template v-if="event.files.length > 0">
        <v-divider></v-divider>
        <v-card-text>
          Вложения
          <v-row>
            <v-col v-for="(f) in event.files" :key="f.name" cols="4">
              <c-file :file="f"></c-file>
            </v-col>
          </v-row>
        </v-card-text>
      </template>
      <v-system-bar :color="event.type == 4 ? 'green' : null">
        <small v-if="event.type == 4">Ответ на замечание</small>
        <v-spacer></v-spacer>
        <small>{{event.user.firstName}} {{event.user.lastName}}, {{event.time | datetime}}</small>
      </v-system-bar>
    </v-card>
  </v-timeline-item>
</template>

<script lang="ts">
import { Component, Vue, Watch, Prop } from "vue-property-decorator";
import { NoteEventInfo, StatusInfo } from "@/models/api/note";
import { UserColor } from "@/models/api/user";
import { Getter } from "vuex-class";
import { markdownPrerender } from "./markdown";

import DateTimeFilter from "@/filters/datetime.filter";
import AvaNameFilter from "@/filters/avaname.filter";

import VueMarkdown from "vue-markdown";
import FileComponent from "./FileComponent.vue";

@Component({
  components: {
    VueMarkdown,
    "c-file": FileComponent,
  },
  filters: {
    datetime: DateTimeFilter,
    avaname: AvaNameFilter,
  },
})
export default class Event extends Vue {
  @Prop()
  public event!: NoteEventInfo;
  private UserColor = UserColor;

  private markdownPrerender = markdownPrerender;
  private statuses = StatusInfo;
}
</script>