<template>
  <div v-if="isImage">
    <v-img v-if="isLocal || editable" :src="imageSrc">
      <div class="file-name">
        {{decodeURI(file.name)}}
        <template v-if="file.size != null">({{file.size | filesize}})</template>
      </div>
      <v-btn v-if="editable" @click="deleteFile(i)" class="img-delete-btn" icon>
        <v-icon color="white">mdi mdi-close</v-icon>
      </v-btn>
    </v-img>
    <a v-else :href="'/api/file/' + file.id" target="_blank">
      <v-img :src="imageSrc">
        <div class="file-name">
          {{decodeURI(file.name)}}
          <template v-if="file.size != null">({{file.size | filesize}})</template>
        </div>
      </v-img>
    </a>
  </div>
  <div v-else>
    <v-alert
      v-model="alert"
      v-if="isLocal || editable"
      :dismissible="editable"
      :icon="fileIcon"
      :color="fileColor"
      dark
      style="word-break: break-word;"
    >
      {{decodeURI(file.name)}}
      <template v-if="file.size != null">({{file.size | filesize}})</template>
    </v-alert>
    <a v-else :href="'/api/file/' + file.id" target="_blank" style="text-decoration: none">
      <v-alert :icon="fileIcon" :color="fileColor" dark style="word-break: break-word;">
        {{decodeURI(file.name)}}
        <template v-if="file.size != null">({{file.size | filesize}})</template>
      </v-alert>
    </a>
  </div>
</template>

<style lang="scss">
.img-delete-btn {
  position: absolute;
  right: 5px;
  top: 5px;

  &:not(.v-btn--text):not(.v-btn--outlined) {
    &::before {
      opacity: 0.25;
      background-color: black;
    }
    &:hover::before {
      opacity: 0.45;
    }
  }
}

.file-name {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  margin-top: auto;
  position: absolute;
  bottom: 0;
  padding: 5px;
}
</style>

<script lang="ts">
import { Component, Vue, Prop, Watch } from "vue-property-decorator";
import { FileCreate, FileInfo } from "@/models/api/file";

import FileSizeFilter from "@/filters/filesize.filter";

@Component({
  filters: {
    filesize: FileSizeFilter,
  },
})
export default class FileComponent extends Vue {
  @Prop()
  public file!: FileInfo | FileCreate;

  @Prop({ default: false })
  public editable!: boolean;

  private alert: boolean = true;

  @Watch("alert")
  onDissmiss(value: boolean) {
    if (!value) this.deleteFile();
  }

  deleteFile() {
    this.$emit("delete");
  }

  get isImage(): boolean {
    if ("mimeType" in this.file) return this.file.mimeType.startsWith("image");
    return this.file.data.startsWith("data:image");
  }

  get imageSrc(): string {
    if ("id" in this.file) return `/api/file/${this.file.id}`;
    return this.file.data;
  }

  isMime(mime: string): boolean {
    if ("mimeType" in this.file) return this.file.mimeType.startsWith(mime);
    return this.file.data.startsWith("data:" + mime);
  }

  get isLocal() {
    return !("id" in this.file);
  }

  get fileIcon(): string {
    if (this.file.name.toLowerCase().endsWith(".pdf")) return "mdi-file-pdf";
    if (this.file.name.toLowerCase().endsWith(".xlsx")) return "mdi-file-excel";
    if (this.file.name.toLowerCase().endsWith(".docx")) return "mdi-file-word";
    if (this.isMime("audio")) return "mdi-file-music";
    if (this.isMime("video")) return "mdi-file-video";
    return "mdi-file";
  }

  get fileColor(): string {
    if (this.file.name.toLowerCase().endsWith(".pdf")) return "red";
    if (this.file.name.toLowerCase().endsWith(".xlsx")) return "green";
    if (this.file.name.toLowerCase().endsWith(".docx")) return "blue";
    return "grey";
  }
}
</script>