<template>
  <div v-if="note != null">
    <v-card-text>
      <v-row>
        <v-col cols="9">
          <p>
            <b>Титул:</b>
            {{note.title.name}}
          </p>
          <p>
            <b>Разделы:</b>
            {{noteSections}}
          </p>
          <p>
            <b>Оборудование:</b>
            {{noteEquipment}}
          </p>
          <p v-text="note.shortText"></p>
          <v-divider class="mb-3"></v-divider>
          <vue-markdown :source="note.text" :prerender="markdownPrerender"></vue-markdown>
        </v-col>
        <v-col cols="3">
          <v-list class="py-0">
            <v-list-item two-line>
              <v-list-item-avatar :color="UserColor(note.createdBy)">
                <span
                  class="white--text"
                >{{`${note.createdBy.lastName} ${note.createdBy.firstName}` | avaname}}</span>
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title>{{note.createdBy.firstName}} {{note.createdBy.lastName}}</v-list-item-title>
                <v-list-item-subtitle>Создатель замечания</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-list-item v-if="note.answeredBy" two-line>
              <v-list-item-avatar :color="UserColor(note.answeredBy)">
                <span
                  class="white--text"
                >{{`${note.answeredBy.lastName} ${note.answeredBy.firstName}` | avaname}}</span>
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title>{{note.answeredBy.firstName}} {{note.answeredBy.lastName}}</v-list-item-title>
                <v-list-item-subtitle>Создатель ответа</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-list-item two-line>
              <v-list-item-content>
                <v-list-item-title>
                  {{note.iteration}}
                  <v-btn @click="changeIteration(-1)" :disabled="note.iteration == 1" icon small>
                    <v-icon>mdi mdi-minus</v-icon>
                  </v-btn>
                  <v-btn @click="changeIteration(1)" icon small>
                    <v-icon>mdi mdi-plus</v-icon>
                  </v-btn>
                </v-list-item-title>
                <v-list-item-subtitle>Итерация</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-list-item two-line>
              <v-list-item-content>
                <v-list-item-title>{{note.createDate | datetime}}</v-list-item-title>
                <v-list-item-subtitle>Дата создания</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-list-item two-line>
              <v-list-item-content>
                <v-list-item-title>{{note.updateDate | datetime}}</v-list-item-title>
                <v-list-item-subtitle>Дата последнего обновления</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-col>
      </v-row>
    </v-card-text>
    <template v-if="note.files.length > 0">
      <v-divider></v-divider>
      <v-card-subtitle>Вложения</v-card-subtitle>
      <v-card-text>
        <v-row>
          <v-col v-for="(i) in note.files" :key="i.id" cols="4">
            <c-file :file="i" :editable="false"></c-file>
          </v-col>
        </v-row>
      </v-card-text>
    </template>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch, Prop } from "vue-property-decorator";
import {
  NoteInfo,
  StatusInfo,
  NoteEventInfo,
  NoteStatus,
  EventType,
} from "@/models/api/note";
import { markdownPrerender } from "@/components/notes/markdown";
import { UserColor } from "@/models/api/user";
import { Getter } from "vuex-class";
import { TitleInfo } from "@/models/api/title";
import FileComponent from "@/components/notes/FileComponent.vue";

import VueMarkdown from "vue-markdown";
import Prism from "prismjs";
import "prismjs/themes/prism-okaidia.css";
import DateTimeFilter from "@/filters/datetime.filter";
import AvaNameFilter from "@/filters/avaname.filter";
//import { Picker } from "emoji-mart-vue";

@Component({
  components: {
    VueMarkdown,
    "c-file": FileComponent,
    //Picker
  },
  filters: {
    datetime: DateTimeFilter,
    avaname: AvaNameFilter,
  },
})
export default class NoteInfoView extends Vue {
  private markdownPrerender = markdownPrerender;

  private UserColor = UserColor;

  @Prop()
  public note!: NoteInfo;

  get noteSections(): string {
    return this.note!.sections.map((s) => s.name).join(", ");
  }

  get noteEquipment(): string {
    return this.note!.equipment.map((s) => s.name).join(", ");
  }

  private changeIteration(iteration: number) {
    this.$emit("iteration-changed", this.note.iteration + iteration);
  }
}
</script>