<template>
  <v-dialog @click:outside="closeDialog" v-model="opened" :max-width="600">
    <v-card :loading="loading">
      <v-toolbar flat>
        <v-toolbar-title>Редактирование раздела</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn @click="closeDialog" icon>
          <v-icon>mdi mdi-close</v-icon>
        </v-btn>
      </v-toolbar>
      <v-form v-model="valid">
        <v-card-text>
          <v-text-field v-model="section.name" :rules="nameRules" label="Название" required></v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn @click="createTitle" color="success" :disabled="!valid || loading">Сохранить</v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from "vue-property-decorator";
import { SectionCreate, SectionInfo } from "@/models/api/section";

@Component({})
export default class EditSectionDialog extends Vue {
  @Prop({ type: Boolean })
  public opened: Boolean = false;

  @Prop()
  public section!: SectionInfo;

  private loading: boolean = false;

  private valid: boolean = false;
  private nameRules = [(v: string) => !!v || "Необходимо ввести название"];

  @Watch("opened")
  private onOpened(value: Boolean) {
    if (this.opened) {
      this.loading = false;
    } else {
      //this.form = { project: 0, name: "" };
    }
  }

  closeDialog() {
    this.$emit("update:opened", false);
  }

  createTitle() {
    this.loading = true;
    this.$axios.put("/api/section", this.section).then((response) => {
      this.$emit("created", response.data as SectionInfo);
      this.closeDialog();
      this.loading = false;
    });
  }
}
</script>